h4 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  line-height: 44px;
}

footer h4 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

footer h4:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #23a3fa;
}

#socials ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.handel {
  list-style-type: none;
  height: 19.96px;
  width: 19.99px;
  margin-top: 10px;
  margin-right: 17.01px;
}

#Main-content {
  background-image:
    url("./Images/Ellipse\ 11.svg"),
    url("./Images/Rectangle\ 4.svg"),
    url("./Images/Ellipse\ 3.svg"),
    url("./Images/Ellipse\ 4.svg"),
    url("./Images/Rectangle\ 5.svg"),
    url("./Images/Ellipse\ 13.svg"),
    url("./Images/Rectangle\ 6.svg");
  background-position:
    19px 79px,
    294px 68px,
    323px 102px,
    290px 509px,
    240px 507px,
    357px 392px,
    106px 497px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

#my_work { margin: 50px 0 57px 0; }

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
